header(class=header.classList)
	div.container.main-head__content
		if(header.builders)
			span.main-head__subtittle.main-head__subtittle--ma.main-head__subtittle--acent-color=header.builders
			h1.base-title.main-head__title.animated.flipInY.animation__step2header.title=header.title
			p.main-head__text
				span.fas.fa-map-marker.main-head__icon
				span=header.adress
			p.main-head__text
				span.fas.fa-phone.main-head__icon
				span=header.tel
			div.main-head__flex-row
				p.main-head__text
					span.fas.fa-envelope.main-head__icon
					span=header.email
				p.main-head__text
					span.fab.fa-internet-explorer.main-head__icon
					span=header.web
		else
			h1.base-title.main-head__title.animated.flipInY.animation__step2=header.title
			if(header.textClassList)
				p(class=header.textClassList)=header.subtitle
			else
				p.main-head__text=header.subtitle
			if(header.date)
				span.main-head__date=header.date

