a.post-card(href=item.href)
	div.post-card__poster.post-card__poster--wbg
		img.post-card__img(src=item.img)
		span.post-card__title=item.title
	div.post-card__content
		div.post-card__row.post-card__row--jcfs
			span.post-card__text-element=item.type
			span.post-card__text-element=item.area
		div.post-card__row.post-card__row--jcfs
			span.post-card__text-element.post-card__text-element--type2 #{item.price} руб.
			span.post-card__text-element.post-card__text-element--type2 (#{item.pricePerMetr} руб/кв. м)
		div.post-card__row
			div.post-card__delimiter
		p.post-card__location.post-card__location--mt
			span.fas.fa-map-marker.post-card__icon.post-card__icon--blue
			span=item.adress
		div.post-card__row
			div.post-card__row-item
				span.post-card__icon.post-card__icon--red
					+svg('metro')
				span.post-card__text=item.metro
			div.post-card__row-item
				case item.subType
					when 'bus'
						span.post-card__icon.post-card__icon--blue
							+svg('bus')
						span.post-card__text=item.time
					when 'step'
						span.post-card__icon.post-card__icon--blue
							+svg('step')
						span.post-card__text=item.time
		div.post-card__row
			div.post-card__row-item
				span.post-card__text.post-card__text--shadow Сдача
			div.post-card__row-item
				span.post-card__text=item.build
		div.post-card__row.post-card__row--no-mt
			div.post-card__row-item
				span.post-card__text.post-card__text--shadow Застройщик
			div.post-card__row-item
				span.post-card__text=item.builder