include ../mixins/post-card

append vars
	- infoGeo = [{text: 'Район', val: 'Пушкинский район'},{text: 'Адрес', val: 'г. Ивантеевка, ул. Санаторная, д. 1'}, {text: 'Ближайшее метро', val: ['Медведково (26.3 км)', 'Бабушкинская (26.3 км)']} ]
	- infoBuild = [{text: 'Класс жилья', val: 'Комфорт-класс'},{text: 'Тип здания', val: 'Кирпичный'},{text: 'Этажность', val: '2-7'},{text: 'Лифт', val: 'да'},{text: 'Паркинг', val: 'Подземный паркинг: 194 м/места'},{text: 'Отделка', val: 'С отделкой и без'},{text: 'Цена за м2', val: '59 000 руб.'},{text: 'Дата сдачи', val: '4кв 2013 г.'}]
	- infoRoom = [{text: 'Общая площадь', val: '24'},{text: 'Жилая площадь', val: '12'},{text: 'Площадь кухни', val: '5'},{text: 'Санузел', val: 'Раздельный'},{text: 'Балкон', val: 'Есть'}]
	- infoBuilder = [{text: 'Застройщик', val: 'Бэсткон'}, {text: 'Где купит', val: 'Бэсткон'}, {text: 'E-mail', val: 'advertise@bestcon.ru'}, {text: 'Телефон', val: '8-985-129-43-83'}, {text: 'Официальный сайт', val: 'http://bestcon.ru/'}, {text: 'Оплата', val: 'Ипотека'}, {text: 'Договор', val: '214 ФЗ'}, {text: 'Аккредитация банков', val: ['Сбербанк России','ВТБ Банк Москвы', 'ВТБ24', 'Газпромбанк', 'Металлинвестбанк']}]
	- postCards = [{key: '1', href: '/', poster:{posterClass: 'post-card__poster--wbg', img: '../../images/floor-1.png', title: 'ЖК "Зелёная роща"'}, apartament: {type: 'Однокомнатная квартира', area: '(34 кв.м)',price: '3 230 310', pricePerMetr: '80 000'}, location: {classList:'post-card__location--mt',adress: 'Пушкинский район, г. Ивантеевка',  metro: 'Медведково', subType:'bus',time: '35 минут'}, builder:{release:'4 кв 2013', builder:'Бэсткон'}},{key: '2', href: '/', poster:{posterClass: 'post-card__poster--wbg', img: '../../images/floor-2.png', title: 'ЖК "Голландский квартал"'}, apartament: {type: 'Однокомнатная квартира', area: '(40 кв.м)',price: '4 310 420', pricePerMetr:  '98 232'}, location: {classList:'post-card__location--mt',adress: 'Пушкинский район, г. Ивантеевка',  metro: 'Бабушкинская', subType:'bus',time: '35 минут'}, builder:{release:'4 кв 2017', builder:'МАРТИН'}},{key: '3', href: '/', poster:{posterClass: 'post-card__poster--wbg', img: '../../images/floor-3.png', title: 'ЖК "Южный"'}, apartament: {type: 'Однокомнатная квартира', area: '(34.2 кв.м)',price: '3 180 600', pricePerMetr:  '93 000'}, location: {classList:'post-card__location--mt',adress:  'Красногорский район, Красногорск',  metro: 'Волоколамская', subType:'bus',time: '15 минут'}, builder:{release:'2кв 2018', builder:'Прогресс'}},{key: '4', href: '/', poster:{posterClass: 'post-card__poster--wbg', img: '../../images/floor-1.png', title: 'ЖК "Зелёная роща"'}, apartament: {type: 'Однокомнатная квартира', area: '(34 кв.м)',price: '3 230 310', pricePerMetr: '80 000'}, location: {classList:'post-card__location--mt',adress: 'Пушкинский район, г. Ивантеевка',  metro: 'Медведково', subType:'bus',time: '35 минут'}, builder:{release:'4 кв 2013', builder:'Бэсткон'}}]

block content
	main.main-section
		div.container
			div.main-section__wrapper
				block content
					include ../asets/sidebar.pug
				div.main-section__content
					h2.base-title.base-title--type2.base-title--black.main-section__title.main-section__title--with-bb 1-комнатная квартира 40 кв.м в ЖК "Зелёная роща"
					div.content__long-post.long-post
						div.long-post__item
							div.long-post__poster
								img.long-post__img(src='../../images/long-post.png')

							div.long-post__text-wrapper
								h4.base-title.base-title--type4.base-title--black.long-post__title Однокомнатная квартира
									span.long-post__price 2 595 000 руб. 
										span.long-post__price-per-metr (75 000 руб/кв.м)
								div.long-post__text
									ul.long-post__list.long-post__list--short
										each item in infoRoom
											li.long-post__list-item
												span.long-post__shadow-text=item.text
												span.long-post__value #{item.val} м
													sup 2
						div.long-post__item
							div.long-post__text-wrapper
								div.long-post__text
									ul.long-post__list
										each item in infoGeo
											li.long-post__list-item
												span.long-post__shadow-text=item.text
												- var flag = typeof item.val == 'object' ? true:false
												if flag
													ul.long-post__list.long-post__list--short
														each elem in item.val
															li
																span.long-post__value=elem
												else
													span.long-post__value=item.val 
								div.long-post__text
									ul.long-post__list
										each item in infoBuild
											li.long-post__list-item
												span.long-post__shadow-text=item.text
												span.long-post__value=item.val 
								div.long-post__text
									ul.long-post__list
										each item in infoBuilder
											li.long-post__list-item
												span.long-post__shadow-text=item.text
												- var flag = typeof item.val == 'object' ? true:false
												if flag
													ul.long-post__list
														each elem in item.val
															li.long-post__list-item--tar
																span.long-post__value=elem
												else
													span.long-post__value=item.val

					h2.base-title.base-title--type2.base-title--black.main-section__title.main-section__title--with-bb.main-section__title--mb Похожие квартиры
					div.content__post-card
						each item in postCards
							+post-card(item.href, item.poster, item.apartament, item.location, item.builder)

						h2.base-title.base-title--type2.base-title--black.main-section__title.main-section__title--with-bb.main-section__title--mb Описание ЖК “Зеленая роща”






									



						