append vars
	- postCards = [{title: 'ЖК "The MID" (МИД)', img: 'images/card-1.png', loc: 'Красногорский р-он', subStatio: 'Митино', subType: 'bus', subTime: '25 минут', release: '4 кв 2011 — 4 кв 2018', builder: 'Затонское', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}, {title: 'Жилой район "Испанские кварталы"', img: 'images/card-2.png', loc: 'НАО', subStatio: 'Теплый стан',subType:'step', subTime: '15 минут', release: '4 кв 2017 — 3 кв 2018', builder: 'А101', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}, {title: 'ЖК "Видный город"', img: 'images/card-3.png', loc: 'Ленинский р-он', subStatio: 'Бульвар Дмитрия Донского',subType:'bus', subTime: '25 минут', release: '3 кв 2017', builder: 'Урбан групп', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}, {title: 'ЖК "Лукино-Варино"', img: 'images/card-4.png', loc: 'Щелковский р-он', subStatio: 'Щелковская',subType:'step', subTime: '40 минут', release: '4 кв 2013 — 1 кв 2018', builder: 'СУ 22', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}, {title: 'ЖК "The MID" (МИД)', img: 'images/card-1.png', loc: 'Красногорский р-он', subStatio: 'Митино', subType: 'bus', subTime: '25 минут', release: '4 кв 2011 — 4 кв 2018', builder: 'Затонское', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}, {title: 'ЖК "The MID" (МИД)', img: 'images/card-1.png', loc: 'Красногорский р-он', subStatio: 'Митино', subType: 'bus', subTime: '25 минут', release: '4 кв 2011 — 4 кв 2018', builder: 'Затонское', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}, {title: 'ЖК "The MID" (МИД)', img: 'images/card-1.png', loc: 'Красногорский р-он', subStatio: 'Митино', subType: 'bus', subTime: '25 минут', release: '4 кв 2011 — 4 кв 2018', builder: 'Затонское', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}, {title: 'ЖК "The MID" (МИД)', img: 'images/card-1.png', loc: 'Красногорский р-он', subStatio: 'Митино', subType: 'bus', subTime: '25 минут', release: '4 кв 2011 — 4 кв 2018', builder: 'Затонское', flors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}], href: '/'}]
block content
main.main-section
	div.container
		div.main-section__wrapper
			block content
				include ../asets/sidebar.pug

							
			div.main-section__content
				h2.base-title.base-title--type2.base-title--black.main-section__title.main-section__title--with-bb Результаты поиска
				div.content__map
					div.content__posts
						
							
							
						div.content__post-card
							- var a = 0
							while a < postCards.length
								- var flag = (a%2==0);
								- var flag1 = (a!=0);
								if flag
									if flag1
										div.content__adversting Место для рекламы
								a.post-card(href=postCards[a].href)
									div.post-card__poster
										img.post-card__img(src=postCards[a].img)
										span.post-card__title=postCards[a].title
									div.post-card__content
										p.post-card__location
											span.fas.fa-map-marker.post-card__icon.post-card__icon--blue
											span=postCards[a].loc
										div.post-card__row
											div.post-card__row-item
												span.post-card__icon.post-card__icon--red
													+svg('metro')
												span.post-card__text=postCards[a].subStatio
											div.post-card__row-item
												case postCards[a].subType
													when 'bus'
														span.post-card__icon.post-card__icon--blue
															+svg('bus')
														span.post-card__text=postCards[a].subTime
													when 'step'
														span.post-card__icon.post-card__icon--blue
															+svg('step')
														span.post-card__text=postCards[a].subTime
										div.post-card__row
											div.post-card__row-item
												span.post-card__text.post-card__text--shadow Сдача
											div.post-card__row-item
												span.post-card__text=postCards[a].release
										div.post-card__row.post-card__row--no-mt
											div.post-card__row-item
												span.post-card__text.post-card__text--shadow Застройщик
											div.post-card__row-item
												span.post-card__text=postCards[a].builder
										div.post-card__row
											div.post-card__delimiter
										div.post-card__row
											span.post-card__text.post-card__text--big Планировки:
										each elem in postCards[a].flors
											div.post-card__row.post-card__row--sm-mt
												div.post-card__row-item 
													span.post-card__text=elem.type
												div.post-card__row-item 
													span.post-card__text=elem.price
										- a++;